ul.list(
  :class="{ 'list--sticky': isNavSticky }"
)
  li.list__heading Setup
  +tocSubsection('Getting Started')
  //- replaced later in _mixins.pug:renderToc()
  ='%%_TOC_%%'

  li.list__heading API
  +tocSubsection('Props')
  +tocSubsection('Events')
  li.list__heading Our other libraries
  li.list__element
    a.link.list__link(target="_BLANK", href="https://nesterone.github.io/vue-vega/?ref=crosstab")
      | Vue-Vega
      img.list__img(src="https://img.shields.io/github/stars/nesterone/vue-vega.svg?style=social&label=Stars")
      span.list__desc Visualization Grammar for Vue.js
