+section('Examples')
  +subsection('Basic crosstab')
    :markdown-it
      The basic crosstab doesn’t require much configuration.

      #### Optional configuration flags:
      - `field: "sex"` – name of data field.
      - `aggregate: "sum"` – sum of all aggregated measure values. Possible values: `count`, `avg`, `sum`, `max`, `min`. Must be last field in rows/cols.
    +example('BasicCrosstab')
  +subsection('Data types')
    :markdown-it
      The basic crosstab doesn’t require much configuration.

      #### Optional configuration flags:
      - `type: "temporal"` – can be appied to date field type.
      - `timeUnit: "temporal"` – can be appied temporal fields. Possible values: `year`, `quarter`, `month`, `day`.
      - `label: "Day"` – field label.
    +example('DataTypes')
  +subsection('Filters')
    :markdown-it
      The basic crosstab doesn’t require much configuration.

      #### Optional configuration flags:
      - `transform` - an array with `filters` and `calsulated` fields
      - `datum` – record in dataset.
      - `datum.wearter` – `weather` field name in record.
      - `datum.year_date` – `year` timeUnit name, `date` field name in record.
    +example('Filters')
  +subsection('Formatters')
    :markdown-it
      Use internal formmatter.

      - `formatter` - can be one of predefined formatters or function
      - `formatter: "currency"` – format value as currency. Available formatters `currency`
    +example('Formatters')
  +subsection('Calculated fields')
    :markdown-it
      The basic crosstab doesn’t require much configuration.

      #### Optional configuration flags:
      - `datum` – record in dataset.
      - `datum.season` – `season` new calculated field name in record.
      - `datum.month_date` – `month` timeUnit name, `date` field name in record.
    +example('CalculatedFields')
  +subsection('Rows only')
    :markdown-it
      Rows only.

      #### Optional configuration flags:
      - `aggregate: "count"` – count aggregation function.
    +example('RowsOnly')
  +subsection('Columns only')
    :markdown-it
      Columns only.

      #### Optional configuration flags:
      - `aggregate: "count"` – count aggregation function.
      - `:width"` – width of crosstab. Cells width will be ajusted.
    +example('ColsOnly')
  +subsection('No Rows No Columns')
    :markdown-it
      Whtout rows and columns.
    +example('NoRowsNoCols')
  +subsection('Custom configuration')
    :markdown-it
      Custom cells configuration.

      #### Optional configuration flags:
      - `:cellWidth="75"` – cell width in pixels.
      - `:cellHeight="75"` – cell height in pixels.
      - `:fontSize="20"` – font size in pixels.
    +example('CustomConfiguration')
  +subsection('Custom Theme')
    :markdown-it
      Custom cells configuration.

      #### Optional configuration flags:
      - `:theme="theme"` – custom theme configuration.
      - `theme.name` - theme name. Available themes `Teal`, `Blue`, `Light Blue`, `Pink`, `Indigo`, `Deep Purple`
    +example('CustomTheme')
  +subsection('Scroll Reverse')
    :markdown-it
      Scroll direction.

      #### Optional configuration flags:
      - `:scrollReverse="false"` – use natural scroll direction.
    +example('ScrollReverse')
  +subsection('Load Data by URL')
    :markdown-it
      Loading data by url.

      #### Optional configuration flags:
      - `dataUrl` – url to load data. Possible data type `json`, `csv`.
    +example('LoadData')
  //+subsection('UI Controls')
  //  :markdown-it
  //    Use UI controls from vue-multiselect.
  //
  //  +example('UIControls')
